html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background: rgb(255, 246, 221);
  /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
}

a {
  color: black;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  /*background: rgba(0,0,0,0.2);*/
  padding: 15px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

/*a:hover {
  background: rgba(0,0,0,0.3);
}*/

img {
  width:100%;
}

input {
  padding:10px;
  border:0;
}

section, footer {
  text-align: center;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

header a {
  font-size: 48px;
}


/* Desktop view - Default */

/********************************* Flex container ********************************/
.container-flex {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.container-flex > * {
  order: 9999;
}
/*********************************************************************************/

/********************************* Navigation bar ********************************/
.nav-flex {
  order: 1;
}

.toggleNav {
  display: none;
  background: rgba(0,0,0,0.2);
}

a.toggleNav:hover {
  background: rgba(0,0,0,0.3);
}

/* Flex container for navigation bar. */
.nav-flex ul {
  /*border: 1px solid black;*/
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Flex item for navigation bar. */
.nav-flex li {
  flex: 3;
  text-align: center;
  display: flex;
  
}

.nav-flex li a {
  flex-basis: 100%;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.nav-flex li a:hover {
  background: rgba(0,0,0,0.3);
}

.nav-flex .social {
  flex: 1;
}

.nav-flex span {
  display: block;
  width: 100%;
}
/*********************************************************************************/

/********************************** Pricing grid *********************************/
.plan-flex:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0, -5px);
}

.plan-flex ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan-flex ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
}

.plan-flex ul li:last-child {
  border-bottom: 0;
}

.plan-flex a {
  text-decoration: none;
  background: #FEFF00;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.price {
  font-size: 24px;
  font-family: serif;
  margin: 10px 0;
}

/* Flex container for pricing grid. */
.pricing-grid-flex {
  /*max-width: 750px;*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Flex item (plan) for pricing grid. */
.plan-flex {
  flex: 1 1 calc(33.33% - 40px);
  background: rgba(255, 255, 255, 1.0);
  margin: 20px;
  padding: 20px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  transition: all 0.5s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

/* Nested-flex item (plan's item) for pricing grid. */
.plan-flex > * {
  flex: 1 1 100%;
  text-align: center;
}

.plan-flex .cta {
  align-self: flex-end;
}
/*********************************************************************************/


/* Mobile view. */

@media all and (max-width: 600px) {
  /********************************* Pricing grid ********************************/
  .pricing-grid-flex {
    flex-direction: column;
  }
  /*******************************************************************************/

}

/* Tablet view. */
@media all and (max-width: 768px) {
  header {
    display: none;
  }

  /******************************** Flex container *******************************/
  .container-flex {
    flex-direction: column;
    padding: 0px;
  }
  /*******************************************************************************/

  /******************************** Navigation bar *******************************/
  .toggleNav {
    display: block;
  }

  .toggleNav.open {
    background: rgba(0,0,0,0.3);
  }

  .nav-flex ul {
    display: none;
  }

  .nav-flex ul.open {
    display: flex;
  }

  .nav-flex li {
    flex-basis: 100%;
  }
  /*******************************************************************************/
}
