@font-face { 
  font-family: "Say It Fat";
  src: url("../fonts/sayitfat.otf");
}

@font-face {
	font-family: "Noir Regular";
	src: url("../fonts/Noir_regular.otf");
}

body {
	background-image: url("../images/ui/BG2.png");
	background-size: 300px 600px;
    background-repeat: repeat;
}

a, footer {
  color: rgb(86, 70, 46);
}

.logo {
	font-size: 48px;
  	font-family: "Say It Fat"; 
}

.container-flex {
	background: rgb(255, 246, 221);
}

.plan-flex h3 {
  margin: 5px 0px;
  text-transform: uppercase;
  color: rgb(86, 70, 46);
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}

.txt-title {
	font-family: "Noir Regular";
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.txt-prod-desc {
	font-size: 12px;
}

.txt-prod-oriPrice {
	font-size: 12px;
	text-decoration: line-through;
	color: rgb(200, 200, 200);
}

.img-prod-thumbnail {
	max-width: 350px;
	height: auto;
}
